@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    align-items: center;
    outline: none;
    border: none;
}

:root{
  --green:	#228B22;
  --white:#fff;
  --dark:#1e1c2a;
}

@font-face {
  font-family: "Road Rage";
  src: url("c.ttf");
}

@font-face {
  font-family: "title";
  src: url("RoadRege.ttf");
}
h1, h3, h4, h5 a {
    text-align: center;
}

h1{
  font-family: 'title';
}

body{
    color: var(--dark);
    background: var(--white);
}

.bord {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra no fundo */
    border-radius: 10px; /* Define um raio de borda de 10px */
}

.left {
  text-align: left;
}

.text-h1 {
  font-weight: 530;
  font-size: 36px; /* Ajuste o tamanho da fonte para torná-lo maior */
  color: #333; /* Cor do texto */
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7); /* Sombra suave para destacar o texto */
  text-align: center; /* Centralizar o texto horizontalmente */
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
    z-index: 1002;
}

.navigation .logo{
    color: var(--green);
    font-size: 1.7rem;
    font-weight: 600;
    text-decoration: none;
}

.logo span{
    color: var(--dark);
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-top: 10px;
}

.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover{
    color: var(--green);
}
.navigation i{
    cursor: pointer;
    font-size: 1.5rem;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--green);
}
.home {
  background: url(./img/imagem.png) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
  margin-bottom: 10vh;
}


/* Adicione uma regra de mídia para orientação "landscape" (paisagem) */
@media screen and (orientation: landscape) and (min-width: 1100px) and (max-width:1200px){
    .home-text {
        background-attachment: scroll;
        margin-top: 200px;
        transform: scale(0.7);
    }
}


.card{
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}
.card-img-top{
    padding: 20px;
    padding-bottom: 0;
}
.card-body h5{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #413960;
    margin-bottom: 3px;
}
.card-body p{
    font-size: 16px;
    line-height: 24px;
    color: #585859;
    margin-bottom: 19px;
}
.buy-btn{
    padding: 8px 27px;
    background-color: #fff;
    color: #ffffff;
    border: none;
    border-radius: 33px;
    transition: all .3s;
}
.buy-btn:hover{
    background-color: #fff;
}
.card-footer{
    background: #ffffff;
    border-top: 0px;
    border-radius: 18px !important;
}
.date img{
    width: 24px;
    height: 24px;
}
.date h6{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #585859;
    margin-left: 3px;
}
.home-text {
    max-width: 37rem;
    border-radius: 10px; /* Adicione o valor de border-radius desejado */
    padding: 2rem;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); 
    color: azure;
    text-align: left; /* Alinha o texto à esquerda */
}

.home-text .text-h4 {
    font-size: 2.5rem;
    color: var(--green);
    margin-bottom: 1rem;
    text-align: left; /* Alinha o texto à esquerda */
}



.home-text .text-h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 4rem;
    color: #000;
    text-shadow: 2px 2px 2px rgba(1, 1, 1, 0); 
    text-align: left; /* Alinha o texto à esquerda */
}

.home-text p {
    margin-bottom: 4rem;
    text-align: left; /* Alinha o texto à esquerda */
}

.home-btn{
    padding: 15px 45px;
    background: var(--green);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

.home-img img{
    width: 100%;
}

@media (max-width:1100px) {
    #space{
      margin-top: 50px;
      padding-top: 80px;
    }
    #space2{
      margin-top: 20px;
    }
    .navigation{
        padding: 18px 20px;
    }
    .menu{
        padding-top: 20px;
        display: block;
    }
    .showcase  {
      padding-bottom:20px;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: -8px;
        transition: 0.3s;
        color: #fff;
        background-color: #D3D3D3;
        text-transform: uppercase;
        opacity: 1;
        text-decoration: #149279;
    }
    .nav-menu.ativo{
        right: 0;
    }
    
    /*main*/
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
        background-position: calc(50% - 120px) center;
               
    }
    .home .text-h4{
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 15px;
    }
    .home-img{
        width: 125%;
    } 
}

/* Footer section */
.footer-section{
    padding-top: 55px;
    background: #282531;
    color: #FFFFFF;
}

.footer-p p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 140px;
    padding-right: 40px;
}
.footer-inner{
    padding-bottom: 75px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-list-item {
  margin-top: 3%;
}
.footer-list-item ul li{
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 5px;
}
.footer-list-item ul li:nth-child(1){
    font-weight: bold;
}
.footer-list-item a{
    color: #FFFFFF;
}

@media only screen and (max-width: 575px) {
    .header-details h1 {
        font-size: 44px;
        line-height: 65px;
        margin-bottom: 15px;
    }
    .footer-list-item ul li {
        font-size: 14px;
        line-height: 26px;
    }
}

/* video area */
.video-section{
    background-color: #F0FFF0;
    padding: 80px 0px;
}
.video-details h2{
    font-size: 36px;
    line-height: 54px;
    color: #413960;
}
.video-image img{
    border-radius: 20px;
    
}
.video-image{
    position: relative;
}

.portfolio {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 18px;
    border-radius: 10px;
    }
    .portfolio ul {
        list-style-type: none;
        padding: 0;
    }
    .portfolio li {
        margin-bottom: 15px;
        padding-left: 10px;
        transition: background-color 0.3s, transform 0.3s;
    }
    .li{
      border-left: 5px solid #4CAF50;
    }
    .li:hover {
        background-color: #4CAF50;
        color: #fff;
        transform: translateX(5px);
        cursor: pointer;
    }

    /* efeito de digitar nome */
    #nome {
        max-width: 0;
        width: 35rem;
        white-space: nowrap;
        overflow: hidden;
        border-right: 2px solid var(--color01);
        animation: pisca normal infinite 0.4s, escrever infinite 6s steps(56) both;
        color: #4CAF50;
        }

        

        @keyframes pisca {
        100% {
            border-right-color: transparent;
        }
        }
        @keyframes escrever {
        100% {
            max-width: 80%;
        }
        
    }

    .contact {
      position: relative;
      width: 100%;
      min-height: 100vh;
      padding: 2rem;
      background-color: #fafafa;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .form {
      width: 100%;
      max-width: 820px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    
    .contact-form {
      background-color: #1abc9c;
      position: relative;
    }
    
    .circle {
      border-radius: 50%;
      background: linear-gradient(135deg, transparent 20%, #149279);
      position: absolute;
    }
    
    .circle.one {
      width: 130px;
      height: 130px;
      top: 130px;
      right: -40px;
    }
    
    .circle.two {
      width: 80px;
      height: 80px;
      top: 10px;
      right: 30px;
    }
    
    .contact-form:before {
      content: "";
      position: absolute;
      width: 26px;
      height: 26px;
      background-color: #1abc9c;
      transform: rotate(45deg);
      top: 50px;
      left: -13px;
    }
    
    form {
      padding: 2.3rem 2.2rem;
      z-index: 10;
      overflow: hidden;
      position: relative;
    }
    
    .title {
      color: #fff;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1;
      margin-bottom: 0.7rem;
    }
    
    .input-contact {
      position: relative;
      margin: 1rem 0;
      z-index: 1001 ;
    }
    
    .input {
      width: 100%;
      outline: none;
      border: 2px solid #fafafa;
      background: #1abc9c;
      padding: 0.6rem 1.2rem;
      color: #fff;
      font-weight: 500;
      font-size: 0.95rem;
      letter-spacing: 0.5px;
      border-radius: 25px;
      transition: 0.3s;
    }
    
    textarea.input {
      padding: 0.8rem 1.2rem;
      min-height: 150px;
      border-radius: 22px;
      resize: #1abc9c;
      overflow-y: auto;
    }
    
    .input-contact label {
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      padding: 0 0.4rem;
      color: #fafafa;
      font-size: 0.9rem;
      font-weight: 400;
      pointer-events: none;
      z-index: 1000;
      transition: 0.5s;
    }
    
    .input-contact.textarea label {
      top: 1rem;
      transform: translateY(0);
    }
    
    .btn {
      padding: 0.6rem 1.3rem;
      background-color: #fff;
      border: 2px solid #fafafa;
      font-size: 0.95rem;
      color: #1abc9c;
      line-height: 1;
      border-radius: 25px;
      outline: none;
      cursor: pointer;
      transition: 0.3s;
      margin: 0;
    }
    
    .btn:hover {
      background-color: transparent;
      color: #fff;
    }
    
    .input-contact span {
      position: absolute;
      top: 0;
      left: 25px;
      transform: translateY(-50%);
      font-size: 0.8rem;
      padding: 0 0.4rem;
      color: transparent;
      pointer-events: none;
      z-index: 500;
    }
    
    .input-contact span:before,
    .input-contact span:after {
      content: "";
      position: absolute;
      width: 10%;
      opacity: 0;
      transition: 0.3s;
      height: 5px;
      background-color: #1abc9c;
      top: 50%;
      transform: translateY(-50%);
    }
    
    .input-contact span:before {
      left: 50%;
    }
    
    .input-contact span:after {
      right: 50%;
    }
    
    .input-contact.focus label {
      top: 0;
      transform: translateY(-50%);
      left: 25px;
      font-size: 0.8rem;
    }
    
    .input-contact.focus span:before,
    .input-contact.focus span:after {
      width: 50%;
      opacity: 1;
    }
    
    .contact-info {
      padding: 2.3rem 2.2rem;
      position: relative;
    }
    
    .contact-info .title {
      color: #228B22;
    }
    
    .text {
      color: #333;
      margin: 1.5rem 0 2rem 0;
    }
    
    .information {
      display: flex;
      color: #555;
      margin: 0.7rem 0;
      align-items: center;
      font-size: 0.95rem;
    }
    
    .icon {
      width: 28px;
      margin-right: 0.7rem;
    }
    
    .social-media {
      padding: 2rem 0 0 0;
    }
    
    .social-media p {
      color: #333;
    }
    
    .social-icons {
      display: flex;
      margin-top: 0.5rem;
    }
    
    .social-icons a {
      width: 58px;
      height: 58px;
      border-radius: 15px;
      background: linear-gradient(45deg, #1abc9c, #149279);
      color: #fff;
      text-align: center;
      line-height: 58px;
      margin-right: 0.5rem;
      transition: 0.3s;
    }
    
    /* Encontre a classe que se aplica ao ícone do WhatsApp e aplique o tamanho aumentado */
    .social-icons i.fab.fa-whatsapp {
      transform: scale(1.9);
    }

    .social-icons a:hover {
      transform: scale(1.05);
    }
    
    .contact-info:before {
      content: "";
      position: absolute;
      width: 110px;
      height: 100px;
      border: 22px solid #1abc9c;
      border-radius: 50%;
      bottom: -77px;
      right: 50px;
      opacity: 0.3;
    }
    
    .big-circle {
      position: absolute;
      width: 500px;
      height: 500px;
      border-radius: 50%;
      background: linear-gradient(to bottom, #1cd4af, #159b80);
      bottom: 50%;
      right: 50%;
      transform: translate(-40%, 38%);
    }
    
    .big-circle:after {
      content: "";
      position: absolute;
      width: 360px;
      height: 360px;
      background-color: #fafafa;
      border-radius: 50%;
      top: calc(50% - 180px);
      left: calc(50% - 180px);
    }
    
    .square {
      position: absolute;
      height: 400px;
      top: 50%;
      left: 50%;
      transform: translate(181%, 11%);
      opacity: 0.2;
    }
    
    @media (max-width: 850px) {
      .form {
        grid-template-columns: 1fr;
      }
    
      .contact-info:before {
        bottom: initial;
        top: -75px;
        right: 65px;
        transform: scale(0.95);
      }
    
      .contact-form:before {
        top: -13px;
        left: initial;
        right: 70px;
      }
    
      .square {
        transform: translate(140%, 43%);
        height: 350px;
      }
    
      .big-circle {
        bottom: 75%;
        transform: scale(0.9) translate(-40%, 30%);
        right: 50%;
      }
    
      .text {
        margin: 1rem 0 1.5rem 0;
      }
    
      .social-media {
        padding: 1.5rem 0 0 0;
      }
    }
    
    @media (max-width: 480px) {
      .contact {
        padding: 1.5rem;
      }
    
      .contact-info:before {
        display: none;
      }
    
      .square,
      .big-circle {
        display: none;
      }
    
      form,
      .contact-info {
        padding: 1.7rem 1.6rem;
      }
    
      .text,
      .information,
      .social-media p {
        font-size: 0.8rem;
      }
    
      .title {
        font-size: 1.15rem;
      }
    
      .social-icons a {
        width: 30px;
        height: 30px;
        line-height: 30px;
      }
    
      .icon {
        width: 23px;
      }
    
      .input {
        padding: 0.45rem 1.2rem;
      }
    
      .btn {
        padding: 0.45rem 1.2rem;
      }

      /* =================================================================*/
      .social-icons {
        display: flex;
        margin-top: 0.5rem;
      }
      
      .social-icons a {
        width: 50px;
        height: 50px;
        border-radius: 13px;
        background: linear-gradient(45deg, #1abc9c, #149279);
        color: #fff;
        text-align: center;
        line-height: 50px;
        margin-right: 0.5rem;
        transition: 0.3s;
      }
      
      /* Encontre a classe que se aplica ao ícone do WhatsApp e aplique o tamanho aumentado */
      .social-icons i.fab.fa-whatsapp {
        transform: scale(2.0);
      }
  
      .social-icons a:hover {
        transform: scale(1.05);
      }
      
      .contact-info:before {
        content: "";
        position: absolute;
        width: 110px;
        height: 100px;
        border: 22px solid #1abc9c;
        border-radius: 50%;
        bottom: -77px;
        right: 50px;
        opacity: 0.3;
      }
    }

testimonial-section{
    font: 2px;
}

/* SECVICES SECTION */
.services-text,
.clients-text,
.blog-text {
  text-align: center;
  padding: 20px;
}

/* CLIENT SECTION */
.clients {
  background-image: url("./img/banner.jpg");
  background-size: cover;
  padding-bottom: 10px;  
}

.clients .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.clients .box-container .box {
  display: flex;
  flex: 1 1 40rem;
  flex-direction: row;
  border-radius: 0.5rem;
  padding: 3rem;
  cursor: context-menu;
  color: #333;
  justify-content: center;
  align-items: center;
}

.row{
  justify-content: center;
  text-align: center;
}

.clients .box-container .box img {
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.clients .box-container .box .client-subtext {
  padding-left: 15px;
}

.clients .box-container .box h2 {
  font-size: 1.5rem;
  color: #333;
}

.clients .box-container .box .client-subtext p {
  color: #666;
  text-transform: none;
  padding-top: 10px;
}
.clients .box-container .box:hover {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

/* clients section */
.clients .box-container .box {
  flex: 1 1 30rem;
}

.line {
  font-weight: 800;
  color: #4CAF50;
  padding: 0;
  margin: 0;
  font-size: 2rem;
}

/* media screen */
@media (max-width: 768px) {
  /* menubar */
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background-image: url("./images/banner_hover.jpg");
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a {
    display: block;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
  }
  /* home section */
  .home {
    align-items: center;
    justify-content: space-between;
  }

  /* about section */
  .about .box-container {
    flex-direction: column;
  }
  .about .box-container .box {
    width: 100%;
    margin-bottom: 10px;
  }
  /* service */
  #service-head {
    flex-direction: column;
  }
  #service-head div {
    padding-left: 0px;
  }
  #service-head img {
    width: 100%;
    margin-bottom: 20px;
  }
  /* swiper1 */
  .mySlides-container {
    padding: 0 100px;
  }

  /* some of work */
  .some-work .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  
}
@media (max-width: 540px) {
  html {
    font-size: 80%;
  }

  .footer-list-item {
    scale: 1.1;
  }


  /* about */
  .about p,
  .service p,
  .team p,
  .some-work p {
    padding: 2rem 0rem;
  }
  .box h1 {
    font-weight: 600;
    font-size: 1rem;
  }
  .box p {
    font-size: 0.8rem;
  }
  
  /* banner */
  .banner .box {
    height: 10vh;
  }
  .banner .box h1 {
    font-weight: 600;
    font-size: 1.5rem;
  }
  /* services */
  .services .box-container .box {
    padding: 1rem 0;
  }
  /* design */
  #about-app .video {
    width: 100%;
  }
  /* service */
  #service-head {
    flex-direction: column;
  }
  #service-head div {
    padding-left: 0px;
  }
  #service-head img {
    width: 100%;
    margin-bottom: 20px;
  }

  /* swiper */
  .mySlides-container {
    padding: 0 10px;
  }
  .mySlides-container img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  /* OUR TEAM */
  .team .box-container {
    flex-direction: column;
  }
  /* LOGO BANNER SECTION */
  .logo-banner img {
    width: 25%;
  }
  /* blog section */
  .blog .box-container {
    flex-direction: column;
  }
  /* footer */
  footer .copyright {
    text-align: start;
  }
}

.showcase {
  background: linear-gradient(135deg, #c4fff3 , #b7e2b7);
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;  
}

.showcase:hover {
  transform: scale(1.05)
}

@media (max-width: 1000px) and (min-width: 775px) {
  .showcase {
    transform: scale(1.08);
  }

  .showcase:hover {
    transform: scale(1.10);
  }
}

/* Estilize o ícone do WhatsApp */
.social-icons {
  position: fixed; /* Torna o ícone fixo */
  bottom: 20px; /* Distância do ícone ao fundo da página */
  right: 20px; /* Distância do ícone à direita da página */
  z-index: 1000; /* Define a ordem de empilhamento para garantir que o ícone fique em cima de outros elementos */
  padding-left: 100px;
  padding-bottom: 100px;
}

.social-icons a img {
  width: 100px; /* Largura do ícone do WhatsApp */
  height: auto; /* Altura automática para manter a proporção */
}

/*test*/

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 58px;
  height: 58px;
  border-radius: 15px;
  background: linear-gradient(45deg, #1abc9c, #149279);
  color: #fff;
  text-align: center;
  line-height: 58px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

/* Encontre a classe que se aplica ao ícone do WhatsApp e aplique o tamanho aumentado */


.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 58px;
  height: 58px;
  border-radius: 15px;
  background: linear-gradient(45deg, #1abc9c, #149279);
  color: #fff;
  text-align: center;
  line-height: 58px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

/* Encontre a classe que se aplica ao ícone do WhatsApp e aplique o tamanho aumentado */



.other {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
  float: left; /* Faz as divs flutuarem à esquerda */
}

.other a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #1abc9c, #149279);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.3s;
}

.other a:hover {
  transform: scale(1.05);
}

@media (max-width: 450px) {
  #nome {
    width: 28rem;
    font-size: 27px;        

  }
  .text-h1 {
    font-size: 27px;
  }

  /* Define a class to reduce the image size */
  .small-image {
    max-width: 50%; /* You can adjust this percentage to control the size */
    height: auto; /* Maintain aspect ratio */
  }

  

  .footer-p {
    margin-left: 6%;
  }

  
}

@media (max-width: 370px) {
  #nome {
    width: 25rem;
    font-size: 24px;   
    margin-bottom: 12px;     

  }
  .text-h1 {
    font-size: 24px;
  }
  .footer{
    padding-right: 10px;
  }
  

  
}
      
      